<!-- TODO: Migrate this to a "content aware" part of the API when this feature is complete:  https://github.com/GPII/gpii-express/pull/6 -->
{{>common-topbar "search"}}

<section role="main" id="main" tabindex="0" class="scroll-container">
    <div class="row">
        <div class="column small-12 medium-12">
            <div class="record-viewport"/>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-12">
            <div class="widget-viewport">
                {{>widget}}
            </div>
        </div>
    </div>
</section>

<!-- Bring in client libraries-->
<script type="text/javascript" src="/src/js/client/toggle.js"></script>
<script type="text/javascript" src="/src/js/client/stringTemplate.js"></script>
<script type="text/javascript" src="/src/js/client/select.js"></script>
<script type="text/javascript" src="/src/js/client/status.js"></script>
<script type="text/javascript" src="/src/js/client/record.js"></script>

<link href="/src/css/widget.css" rel="stylesheet">
<script src="/src/js/widget.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.record"}}}

