<!-- START WIDGET -->
<section id="widget" tabindex="0" class="scroll-container">
    <div class="widget_stars" id="widget_stars">
        <div id="loading"></div>
        <div id="widget_content" class="widget_content">
            <div tabindex="0" id="rate">
                <h1>Product rate (<span id="valuemedia"></span>/5)</h1>
                <p id="valuemedia_stars" class="widget_categorization" aria-hidden="true"></p>
            </div>
            <div class="separator"></div>
            <div id="histogram" class="visuallyhidden">
                <!--<a href="#" id="buttonHistogram">Show histogram</a>-->
                <table>
                    <tr>
                        <th><a href="#listComments">1 <span class="visuallyhidden">Stars</span>&#9733;</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="#listComments">2 <span class="visuallyhidden">Stars</span>&#9733;</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="#listComments">3 <span class="visuallyhidden">Stars</span>&#9733;</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="#listComments">4 <span class="visuallyhidden">Stars</span>&#9733;</a></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th><a href="#listComments">5 <span class="visuallyhidden">Stars</span>&#9733;</a></th>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div id="listComments" class="comments">
                <ul id="widget_comments_ul">

                </ul>
            </div>

            <p class="alignright"><a id="morecomments" href="#" class="less">Less Comments</a></p>

            <div id="provideoyourrate" style="display:none;">
                <h2>Provide Your Rate</h2>
                <p>Your overall rating of this product</p>
                <form action="">
                    <p class="widget_categorization widget_stars_rate">
                        <input id="widget_stars_rate_1" type="radio" name="widget_stars_rate" value="1" class="visuallyhidden" checked="checked">
                        <label for="widget_stars_rate_1" class="widget_label"><span class="visuallyhidden">1 Stars</span><span class="spanstar">&#9733</span></label>

                        <input id="widget_stars_rate_2" type="radio" name="widget_stars_rate" value="2" class="visuallyhidden">
                        <label for="widget_stars_rate_2" class="widget_label"><span class="visuallyhidden">2 Stars</span><span class="spanstar">&#9733</span></label>

                        <input id="widget_stars_rate_3" type="radio" name="widget_stars_rate" value="3" class="visuallyhidden">
                        <label for="widget_stars_rate_3" class="widget_label"><span class="visuallyhidden">3 Stars</span><span class="spanstar">&#9733</span></label>

                        <input id="widget_stars_rate_4" type="radio" name="widget_stars_rate" value="4" class="visuallyhidden">
                        <label for="widget_stars_rate_4" class="widget_label"><span class="visuallyhidden">4 Stars</span><span class="spanstar">&#9733</span></label>

                        <input id="widget_stars_rate_5" type="radio" name="widget_stars_rate" value="5" class="visuallyhidden">
                        <label for="widget_stars_rate_5" class="widget_label"><span class="visuallyhidden">5 Stars</span><span class="spanstar">&#9733</span></label>
                    </p>

                    <label for="widget_title_comment">Title of your review</label>
                    <input type="text" name="widget_title_comment" id="widget_title_comment"/>

                    <label for="widget_comment">Your review</label>
                    <textarea rows="2" cols="32" name="widget_comment" id="widget_comment"></textarea>

                    <p class="aligncenter">
                        <button href="#" class="blue_button" id="buttonBack">Back</button>
                        <button class="green_button" id="buttonSend">Send</button>
                    </p>
                </form>
            </div>
            <div id="provideoyourrateok" tabindex="-1">
                <p>Thank you</p>
                <p><a href="#" class="blue_button" id="buttonOk">Ok</a></p>
            </div>

            <p id="buttonprovideoyourrate">
                <a href="#" class="blue_button" id="buttonRate">Write a comment and rate it</a>
                <a href="#" class="red_button" id="buttonDelete">Delete</a>
            </p>

        </div>
    </div>
</section>
<!-- END WIDGET -->